/*--------------
   Layout
-------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.container {
    width: 1000px;
    margin: 0 auto;
    max-width: 100%;
}

.column {
    float: left;
}

.col-2-layout .column {
    width: 50%;
}

.col-3-layout .column {
    width: 33.33%;
}


.col-2-layout::after,
.col-3-layout::after {
    content: "";
    clear: both;
    display: block;
}

body {
    font-family: "Raleway",sans-serif;
}


.celadon-font {
    color: #24ba9f;
    font-weight: bold;
}

/*-----------HEADER-------------*/


.site-header {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 6px 0;
    letter-spacing: 1px;
}

h3 {
    font-size: 13px;
    padding: 7px 0;
}

nav {
    text-align: right;
    padding: 5px 0;

}

nav li {
    display: inline-block;
}

nav a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-left: 35px;
}


/*----------------
Section hero
-------------------*/

.section-hero {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,fafafa+55,fafafa+64,fafafa+64,fafafa+65,ceced6+100 */
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top, #fafafa 0%, #fafafa 55%, #fafafa 64%, #fafafa 64%, #fafafa 65%, #ceced6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fafafa 0%, #fafafa 55%, #fafafa 64%, #fafafa 64%, #fafafa 65%, #ceced6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fafafa 0%, #fafafa 55%, #fafafa 64%, #fafafa 64%, #fafafa 65%, #ceced6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ceced6', GradientType=0); /* IE6-9 */

}

.section-hero .container {
    padding: 12px 50px 0 50px;
    position: relative;

}



.dropdown-menu {
    list-style-type: none;
    color: white;
    background: black;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    left: 650px;
}

.dropdown-menu li {
    padding: 5px;
}

.dropdown-menu::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 60px;
}


.img-hero {
    width: 45%;
    float: left;
}

.img-hero img {
    width: 140%;
    position: relative;
    left: -82px;
}


.article-hero {
    width: 55%;
    text-align: center;
    float: left;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 15px;
    font-weight: 500;
}

.article-hero button {
    text-transform: uppercase;
    background-color: #24ba9f;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 23px;
    padding: 13px 35px;
    letter-spacing: 1px;
    font-weight: 500;
    word-spacing: -5px;
}

.article-hero p {
    line-height: 18px;
    margin-bottom: 20px;
    padding: 20px 70px;
    font-size: 15px;
}

.less-than,
.greater-than {
    display: block;
    position: absolute;
    font-weight: normal;
    font-size: 70px;
    top: 50%;
    transform: translateY(-50%);
}

.less-than {
    left: 0;
}

.greater-than {
    right: 0;
}

/*----------------
Section products
-------------------*/

.section-products {
    padding-top: 30px;
    padding-bottom: 25px;
}

.product1 {
    margin-right: 20px;
    position: relative;
}

.product2 {
    margin: 0 10px;
    position: relative;
}

.section-products img {
    width: 100%;
    border: 1px solid #c2c2c2;
}

.img-label {
    position: absolute;
    top: 130px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    min-width: 100%;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: .5px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.img-label span {
    text-transform: uppercase;
}

.article-products {
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #c2c2c2;
}

h5 {
    font-size: 15px;
    letter-spacing: 0.5px;
}

.line-decor {
    height: 8px;
    background-color: #24ba9f;
    width: 45%;
    margin-top: 1px;
}

.article-products p {
    font-size: 14px;
    line-height: 1.5em;
    color: gray;
    margin-top: 6px;
}


/*----------------
Section price list
-------------------*/

.section-price-list {
    background-color: #f1f1f1;
    padding: 50px 0;

}

.section-price-list h4 {
    text-transform: uppercase;
    color: gray;
    font-size: 22px;
    font-weight: 500;
}

.section-price-list .line-decor {
    width: 320px;
    margin-bottom: 75px;
}

.section-price-list .column {
    text-align: center;
}

.section-price-list .column:first-child {
    padding-right: 15px;
}

.section-price-list .column:nth-child(2) {
    padding: 0 15px;
}

.section-price-list .column:last-child {
    padding-left: 15px;
}


.section-price-list h2 {
    padding: 30px 0;
    text-transform: uppercase;
    font-weight: 500;
}

.offer-items li {
    list-style-type: none;
}


.offer-one, .offer-three {
    background-color: #f9f9f9;
    border: 1px solid #c2c2c2;
}

.offer-two {
    background-color: #24ba9f;
}

.offer-one, .offer-two, .offer-three {
    border-radius: 3px;
    position: relative;
}

.offer-one h2, .offer-three h2 {
    color: #24ba9f;

}

.offer-two h2 {
    color: white;
}

.price-circle {
    min-width: 130px;
    min-height: 130px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    background-color: white;
    margin-bottom: 20px;

}

.offer-one .price-circle, .offer-three .price-circle {
    border: 1px solid #c2c2c2;

}


.price-per-month {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.offer-one .price-per-month, .offer-three .price-per-month {
    color: #c2c2c2;
}

.offer-two .price-per-month {
    color: #24ba9f;
}

.price {
    font-size: 42px;
    font-weight: 600;
}

sup {
    font-size: 16px;
}

.currency {
    display: block;
    text-transform: uppercase;
}


.offer-items {
    min-height: 180px;
    margin-bottom: 30px;

}

.section-price-list li{
    font-size: 25px;
    padding: 7.5px 0;

}

.offer-one li:nth-child(2n+1),
.offer-three li:nth-child(2n+1) {
    background-color: #e4e4e4;
}

.offer-two li:nth-child(2n+1) {
    background-color: white;
}

.offer-one li:nth-child(2n),
.offer-three li:nth-child(2n),
.offer-two li:nth-child(2n){
    background-color: #f1f1f1;
}

.offer-one .join-button,
.offer-three .join-button{
    background-color: #24ba9f;
    text-decoration:none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
}

.offer-two .join-button {
    background-color: white;
    text-decoration:none;
    color: #24ba9f;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
}


.offer-one::before,
.offer-two::before,
.offer-three::before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    border-radius: 100%;


}

.offer-two::before {
    background-color: #24ba9f;

}

.offer-one::before,
.offer-three::before {
    background-color: white;
    border: 1px solid #c2c2c2;

}

.offer-one::after,
.offer-two::after,
.offer-three::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -105%);
    border-radius: 100%;
}


.offer-one::after,
.offer-three::after {
    background-color: #c2c2c2;
}

.offer-two::after {
    background-color: #f9f9f9;
}



/*----------------------
    Section-contact
  ----------------------*/


.form-group-one, .form-group-two {
    float: left;
}
.form-group-one, .copyright {
    width: 60.00%;
}

.form-group-two {
    width: 40.00%;
    padding: 0 25px;
}

.section-contact img:first-child {
    padding-bottom: 40px;
}

.section-contact img:nth-child(2) {
    float:left;
    border: 1px solid #24ba9f;
    padding: 2px;
    margin-right: 5px;
}

.section-contact h4 {
    text-transform: uppercase;
    color: gray;
    font-size: 22px;
    font-weight: 500;
}

.section-contact {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 15px;
}

.section-contact .line-decor {
    height: 8px;
    width: 320px;
    margin-top: 5px;
    margin-bottom: 40px;
}

.form-control {
    font-size: 30px;
    width: 100%;
    padding: 15px 15px;
    border: 1px solid #24ba9f;
    margin-bottom: 25px;

}

.form-control::placeholder {
    color: #c2c2c2;
}

.section-contact img:first-child {
    display: block;
    margin: 0 auto;
}

.section-contact span {
    font-size: 20px;
}

.section-contact button {
    display: block;
    text-transform: uppercase;
    color: white;
    background-color: #24ba9f;
    font-size: 40px;
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    padding: 15px 0;
}

textarea {
    height: 232px;
    resize: none;

}


/* -----------------------------------------
Footer
----------------------------------------*/

footer {
    padding: 20px 0;
}

footer .col-3-layout {
    display: flex;
    align-items: flex-end;
}

.copyright, .social-media, .logo {
    float: left;
}

.copyright {
    color: #c2c2c2;
}

.logo {
    color: #c2c2c2;
}


.social-media, .logo {
    width: 20%;
    text-align: center;
}

.copyright {
    width: 60%;
}

.logo h6 {
    text-transform: uppercase;
    text-align: right;
    font-size: 19px;
    font-weight: normal;
}

.logo span {
    font-weight: bold;
}








